<!DOCTYPE html>
<html>
  <head>
    <title>Taylor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <form data-controller="hello">
      <input type="text" data-hello-target="email">
      <input type="submit" data-action="click->hello#submit">
    </form>
  </body>
</html>
